<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main class="main">
<div class="pyramid">
  <div class='row'>
<div class="photo"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.thespruceeats.com%2Flollipops-521375&psig=AOvVaw2EOMfF32GOQThRCe2C9bNY&ust=1717661835001000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCIC0zYyDxIYDFQAAAAAdAAAAABAE" alt="candy-first-floor"></div>
  </div>




<h1>PIRAMIDE DE ALIMENTOS</h1>
<p>PIRAMIDE DE ALIMENTOS CREADA EN HTML Y CSS</p>


