<body>

  <div class="pyramid">
    <div class="piso 4" title="piso 4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfBhA4KyIMg3ogJb61ajh6pcmqXXfJhXnGZA&s" alt="">
    </div>

    <div class="piso 3" title="piso 3">
      <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2018/06/minority-report.jpg?tf=3840x" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSCscC0Ooc2qtHIdpMT_1jY4JnSoiTj1hpSpQ&s" alt="">
    </div>

    <div class="piso 2" title="piso 2">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJSPmpC_nI-T2OHftJuFL4A0U6q-0FfNQzyw&s" alt="">
      <img src="https://imagenes.extra.ec/files/og_thumbnail/uploads/2022/12/08/6392295590700.jpeg" alt="">
      <img src="https://hackernoon.imgix.net/images/7w1808IzuEYmT5lSPXBgFUs43Ym2-oo83wt5.jpeg?w=1200&q=75&auto=format" alt="">
    </div>

    <div class="piso 1" title="piso 1">
      <img src="https://img.freepik.com/fotos-premium/atencion-medica-habilitada-5g-es-ciencia-ficcion-hecha-realidad_535844-3928.jpg" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdKXHuJF2XlTEA8a3ZVuryghr6RLa-LBOTtA&s" alt="">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPLV6ZMNZapGU0iFBvR-QZsprk3yTMyjGFRg&s" alt="">
      <img src="https://imagenes.eltiempo.com/files/image_1200_600/uploads/2019/12/07/5dec47012d257.jpeg " alt="">
    </div>
  </div>

</body>